<div ng-controller="BooksController as books">
<h2>Add a new book</h2>

  <form ng-submit="books.getCovers()">
    <label for="title">Title: </label>
    <input type="text" name="title" ng-model="books.title">
    <button type="submit">Search Title</button>
  </form>

  <div ng-show="searchResults">
    <h3>Select a cover below or enter your own:</h3>
    <div class="covers">
      <div ng-repeat="book in searchResults" class="cover">
        <label>
          <input type="radio" ng-value="$index" ng-model="selectedBook.index">
          <img ng-src="{{book.cover}}">
        </label>
      </div>
    </div>
  </div>

  <form ng-submit="books.newBook()" ng-show="searchResults">
    <label for="cover">Cover url: </label>
    <input type="text" ng-model="books.cover_url" ng-value="searchResults[selectedBook.index].cover" name="cover">
    <br>
    <label for="description">Description: </label>
    <textarea ng-model="books.description" name="description" rows="4" cols="40" ng-bind="searchResults[selectedBook.index].description"></textarea>
    <button type="submit">Add Book</button>
  </form>

</div>
